<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold nav-link-custom" href="{{ base_url }}/" style="font-size: 1.8rem;">Anik Kawaii</a>
    
    <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link nav-link-custom mx-2" href="{{ base_url }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom mx-2" href="{{ base_url }}/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom mx-2" href="{{ base_url }}/thecompany">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom mx-2" href="{{ base_url }}/contactus">Contact</a>
        </li>

        {# Only show the Add button in the nav if the user is an admin #}
        {% if is_admin %}
        <li class="nav-item">
          <a class="nav-link nav-link-custom mx-2" href="{{ base_url }}/add_product" style="color: #ff69b4; font-weight: bold;">+ Add</a>
        </li>
        {% endif %}
        
        <li class="nav-item ms-lg-3">
          <a class="nav-link nav-link-custom mx-2" href="{{ base_url }}/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-custom btn-register-custom" href="{{ base_url }}/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>