{% extends "base.html" %}
{% block content %}
<div class="neo-window bg-white">
    <div class="neo-header"><span class="ms-2">about_us.txt</span></div>
    <div class="p-5">
        <h2 class="fw-bold mb-3">All About Anik Kawaii!</h2>
        <p class="fs-4 text-dark mb-4 fw-medium">Your Collection of all things from the Heart of Japan! At Anik Kawaii, we bring the magic of Japan straight to your doorstep with a curated selection of authentic, high-quality merch. From anime figures and plushies to cute keychain items, everything we offer is chosen to delight fans of Japanese pop culture.</p>
    </div>
</div>
{% endblock %}